<div class="line-numbers">
  {{#each lineNumbers as |lineNumber|}}
    <div class="row">{{lineNumber}}</div>
  {{/each}}
</div>
<div class="lines">
  {{#each lines as |line|}}
    <pre class="row">{{line}}</pre>
  {{/each}}
</div>
