{{#each snippets as |snippet|}}
  <li>
    {{#link-to 'snippets.snippet' snippet class="title"}}
      {{snippet.name}}
    {{/link-to}}
    {{#if snippet.tags.length}}
      Tags:
      <div class="tags">
        {{#each snippet.tags as |tag|}}
          <span>
            {{tag.name}}
          </span>
        {{/each}}
      </div>
    {{/if}}
  </li>
{{/each}}
