.code-display-flex {
  display: flex;
}
.code-display {
  font-family: $code-font-family;
  padding: $base-spacing / 3;
  background-color: $dark-gray;
  color: $almost-white;
  overflow: auto;
  margin-bottom: 0.75em;

  pre {
    margin: 0;
    font-family: inherit;
  }
  .line-numbers {
    background-color: $medium-gray;
    @include padding(null 0.25em);
    text-align: right;
  }
  .lines {
    @include padding(null 0.25em);
  }
}
